<div>

  <table id="orderTable">
    <tr>
      <th>Name of Product:</th>
      <th>Client:</th>
      <th>Client Ranking:</th>
      <th>Items:</th>
      <th>Bonus:</th>
      <th>Comment:</th>
    </tr>
    <tr *ngFor="let orderevaluation of orderevaluation">
      <td>{{orderevaluation.name_of_product}}</td>
      <td>{{orderevaluation.client}}</td>
      <td>{{orderevaluation.client_ranking}}</td>
      <td>{{orderevaluation.items}}</td>
      <td><input id="bonus"></td>
      <td><input id="comment"></td>
    </tr>
  </table>

  <table id="socialpTable">
    <tr>
      <th>Skill/Competence:</th>
      <th>Target Value:</th>
      <th>Actual Value:</th>
      <th>Bonus:</th>
      <th>Comment:</th>
    </tr>
    <tr *ngFor="let socialperformance of socialperformance">
      <td>{{socialperformance.description}}</td>
      <td>{{socialperformance.target_value}}</td>
      <td>{{socialperformance.actual_value}}</td>
      <td></td>
      <td></td>
    </tr>
  </table>

</div>
