<h2>Salesman</h2>
<table *ngIf = "salesmans">
  <tr>
    <th>ID</th>
    <th>Firstname</th>
    <th>Lastname</th>
    <th>department</th>
    <th>Details</th>
  </tr>
  <tr *ngFor="let salesman of salesmans">
    <td id="empoly_id">
      {{ salesman.employee_id }}
    </td>
    <td>
      {{ salesman.firstname }}
    </td>
    <td>
      {{ salesman.lastname }}
    </td>
    <td>
      {{ salesman.department }}
    </td>
    <td>
     <!--<button (click)="detail()">Detail</button>-->TEST
    </td>
  </tr>
</table>


