<div style="width: 50%; display: block; float: right;align-items: center;">
    <highcharts-chart
      id="container"
      [Highcharts]="Highcharts"
      [constructorType]="chartConstructor"
      [options]="chartOptions"
      [callbackFunction]="chartCallback"
      [(update)]="updateFlag"
      [oneToOne]="true"
      style="height: 400px; display: block;"
    >
    </highcharts-chart>
    <button
      style="margin-left: 45%;"
      mat-raised-button
      (click)="updateChart()"
    >
      Update Chart
    </button>
</div>
